<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Pinnwand</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
        crossorigin="anonymous">
</head>

<body class="d-flex flex-column h-100">

<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Fixed navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</header>

<main role="main" class="flex-shrink-0">

  <div class="container-fluid" id="drop">
    <div class="row ">
      <div class="col-sm-2">

        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Add new Pin
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu" id="dropAdd">
            <div class="card">
              <div class="card-block">
                <form>
                  <div class="form-group">
                    <label for="PinEditorTitel">Pin Title</label>
                    <input class="form-control" id="PinEditorTitel">
                    <label for="PinEditorInhalt">Pin Text</label>
                    <textarea class="form-control" id="PinEditorInhalt" rows="3"> </textarea>
                  </div>
                  <span id="Post-B">
                    <button type="submit" class="btn btn-primary" (click)="pin.postPin()">Post</button>
                  </span>
                  <span id="Reload-B">
                    <button type="submit" class="btn btn-primary" (click)="pin.getPins()">Reload Pins</button>
                  </span>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-2">
        <div class="dropdown">
          <button class="btn btn-info dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
            Pins sortieren
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropSort">
            <div class="card">
              <div class="card-block">
               <p><b>Pins Sortieren nach: </b><br></p>
                <mat-radio-group fxLayout="column">
                  <mat-radio-button value="titel" (click)="sortPins('titel')">Titel</mat-radio-button>
                  <mat-radio-button value="content" (click)="sortPins('inhalt')">Inhalt</mat-radio-button>
                  <mat-radio-button value="creationDate" (click)="sortPins('createDate')">Erstelldatum</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" id="Content">
    <div class="row">
      <div class="col-sm-2">
        <div class="sidenav">
          <app-groups></app-groups>
          <a href="#" (click)="logout()" id="logout">Logout</a>
        </div>
      </div>

      <div class="col-sm-10">
        <div class="card">
          <div class="card-block" id="PinCard">
            <app-pin></app-pin>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>


<!--

  </header>

  <div class="container" fxLayout.lt-sm="column" fxLayout="row wrap" >

    <div  class= sidecontainer fxLayout.lt-sm="column" fxLayout="column" fxFlex=" calc(20%)" fxFlex.lt-sm="100%" fxFlexOrder.lt-sm="2">
      <mat-card class="side-content" fxFlex=" calc(100%)">
        <app-groups></app-groups>
      </mat-card>
    </div>

    <div class="pinnwandcontainer" fxLayout.lt-sm="column" fxFlex=" calc(80%)" fxFlexOrder.lt-sm="1" fxLayout="column">
      <div class="pinwand-content" fxFlex=" calc(100%)">
        <app-pin></app-pin>
      </div>
    </div>

  </div>

  <footer class="footerContainer" fxLayout.lt-sm="column" fxLayout="row">
    <mat-card class="footer-content" fxFlex=" calc(100%)" fxFlex.lt-md="100%" >footer</mat-card>
  </footer>
</div>

-->


</body>

</html>





