<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Pinnwand Projekt</title>
</head>

<body >

<div id="Gesamtcontainer" fxLayout="column">
  <header class="headerContainer" fxLayoutAlign="start stretch">

    <div class= header-sidecontainer fxLayout.lt-sm="column" fxLayout="column" fxFlex=" calc(20%)" fxFlex.lt-sm="100%" fxFlexOrder.lt-sm="2">
      <mat-card class="header-side-content" fxFlex="calc(20%)"><button (click)="logout()">Logout</button></mat-card>
    </div>

    <div class="header-pinnwandcontainer" fxLayout.lt-sm="column" fxLayout="column" fxFlex=" calc(81%)" fxFlexOrder.lt-sm="1">
      <mat-card class="header-pinwand-content" fxFlex="calc(80%)" fxLayout="column">
        <mat-label>2. Two</mat-label>
        <mat-label>Pins Sortieren nach</mat-label>
        <mat-radio-group fxLayout="column">
          <mat-radio-button  value="titel" (click)="sortPins('titel')" >Titel</mat-radio-button>
          <mat-radio-button  value="content" (click)="sortPins('inhalt')" >Inhalt</mat-radio-button>
          <mat-radio-button   value="creationDate" (click)="sortPins('createDate')" >Erstelldatum</mat-radio-button>
        </mat-radio-group>
      </mat-card>
    </div>

  </header>

  <div class="container" fxLayout.lt-sm="column" fxLayout="row wrap" >

    <div  class= sidecontainer fxLayout.lt-sm="column" fxLayout="column" fxFlex=" calc(20%)" fxFlex.lt-sm="100%" fxFlexOrder.lt-sm="2">
      <mat-card class="side-content" fxFlex=" calc(100%)">
        <app-groups></app-groups>
      </mat-card>
    </div>
    <div></div>

    <div class="pinnwandcontainer" fxLayout.lt-sm="column" fxFlex=" calc(80%)" fxFlexOrder.lt-sm="1" fxLayout="column">
      <div class="pinwand-content" fxFlex=" calc(100%)">
        <app-pin></app-pin>
      </div>
    </div>

  </div>

  <footer class="footerContainer" fxLayout.lt-sm="column" fxLayout="row">
    <mat-card class="footer-content" fxFlex=" calc(100%)" fxFlex.lt-md="100%" >footer</mat-card>
  </footer>
</div>

</body>

</html>
