::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--PinTitle);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--Unused);
}

main > .container {
  padding: 60px 15px 0;
}

main > .container-fluid{
  padding-top: 1em;
}

.footer {
  background-color: #f5f5f5;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}


#PinCard{
  max-height: calc(100vh - 9em);
  overflow-y: auto;
  background-color: transparent;
}

#drop{
padding-top: 4.5em;
  padding-left: 18%;
}

#Post-B{
  padding-left: .5em;
}

#Reload-B{
  padding-left: 1em;
}

#dropAdd{
  width: 60vw;
}

#dropSort{
  width: 20vw;
}


code {
  font-size: 80%;
}

body, html{
  height: 100%;
  overflow-y: auto;
  background-color: #d7d7d7;
}


.sidenav app-groups{
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


