<!--ul class="pins">
  <li>
    <button (click)="closeBigPin($event)">close</button>
    <div class="title" >{{pin.titel}}</div>
    <div class="Haupttext">
      <br>
      {{pin.inhalt}}
    </div>
    <br>

    <hr>

    <div class="Optionen">
      <span class="Aendern"> <a href="">Pin verändern</a> </span>
      <span class="Loeschen"> <a href="">Pin löschen</a> </span>
    </div>
    <br>
    <hr>

    <div class="author"> {{pin.autor_name  | uppercase}}</div>
    <div class="date"> {{pin.datum }}</div>
  </li>
</ul-->

