
.headerStyle{
  background-color: var(--SideHeader);
}

.contentStyle{
  height: 50%;
  background-color: var(--PinContent);
}

.loginContainer{
  height: 78%;
}

.headerContainer{
  margin: 15px;
  height:100px;
}

.name-input{
  padding-left: 1em;
  padding-top: 1em;
}

.password-input{
  padding-left: 1em;
  padding-bottom: 1em;
}

.Actions-Login{
  padding: 1em;
}
.Actions-New{
  padding-left: 0.5em;
}

.Login-Button{
  background: linear-gradient(70deg, var(--Footer), var(--PinTitle));
  color: white;
}
.NewAcc-Button{
  background: linear-gradient(70deg, var(--Footer), var(--PinTitle));
  color: white;
}

body, html{
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(70deg, var(--Footer), var(--PinTitle));
}

section {
  overflow: auto;
  border-bottom: 1px solid;
}

#container {
  height: 100%;

}

