<div class="container col-12 bg-transparent" cdkDropListGroup>
  <div class="row">
    <div cdkDropList class="col-xl-3 col-lg-4 col-md-6 col-sm-12 border-0 bg-transparent" [cdkDropListData]="i" *ngFor="let pin of Pins; let i = index;" >
      <div class="card bg-light m-3 shadow"  style="word-break: break-word" cdkDrag [cdkDragData]="i" (cdkDragEntered)="entered($event)">
        <div data-toggle="modal" data-target="#myModal" (click)="onClickMe(pin, $event)">
          <div class="card-header col-12 d-flex flex-row justify-content-between">
              <h5 class="text-left card-title"> {{pin.titel| slice:0: 50}} </h5>
              <button id="deleteButton" type="button" class="btn btn-sm btn-danger align-self-start" (click)="deletePin(pin._id, pin.autor_id)">
                &times;</button>
          </div>
          <div class="card-body text-left">
            <p class="card-text align-self-start"> {{pin.inhalt | slice:0: 270}}</p>
          </div>
          <div class="card-footer text-center">
            <small class="text-muted ">{{pin.autor_name | uppercase}} - {{pin.datum | date}}</small>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- The Modal -->
  <div class="modal" id="myModal" *ngIf="chosenPin" data-backdrop="static">
    <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-light">

        <div class="modal-header">
          <h4 class="modal-title">{{chosenPin.titel}}</h4>
          <button type="button" class="close" data-dismiss="modal" (click)="changeContentBack()">&times;</button>
        </div>

        <div class="modal-body" style="max-height: 60vh" id="pinInhalt" [innerText]="chosenPin.inhalt">
        </div>

        <div class="modal-footer d-flex justify-content-between flex-row " >
          <small class="text-muted">{{chosenPin.autor_name | uppercase}} - {{chosenPin.datum | date}}</small>
          <div class="btn-group " role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary" (click)="savePin(chosenPin)"> Save </button>
            <button type="button" class="btn btn-secondary" (click)="changeContent()"> Edit </button>
            <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="deletePin(chosenPin._id, chosenPin.autor_id)">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
