Application-wide Styles
::ng-deep :root{
  --Background: #e6e6e6ff;
  --Footer: #828594;

  --PinHeader: #ccccccff;
  --PinContent: #e6e6e6ff;

  --SideHeader:  #ccccccff;
  --SideContent: #ccccccff;

  --PinTitle: #405061;
  --PinColor: #fafafaff;

  --Unused: #3c91e6ff;

  --transparent: #00000000;
}


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
  font-family: Cambria, Georgia;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

