::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--PinTitle);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--Unused);
}


.autocomplete {
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div:hover {
  background-color: #e9e9e9;
}
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

#group1{
  padding-bottom: 1em;
}

#OwnPinButton{
  width: 100%
}
#JoinGroupButton{
  width: 100%
}
.GruppenListe{
  padding-left: 10%;
  max-height: calc(100vh - 20em);
  overflow-y: auto;
  overflow-x: hidden;
}
#Gruppenbutton{
  width: 90%;
}


/deep/ .completer-input  {
  display: block;
  width: 100%;
  height: 2.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


#buttonGroup{
  padding: 1em;
}

/deep/ .completer-input  {
  display: block;
  width: 100%;
  height: 2.5em;
  padding-top: .5em;
  padding-bottom: .5em;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
