
<div>
  <button (click)="soloRide()">Eigene Pins</button>
  <div *ngFor="let gruppe of userGroups">
      <button (click)="chooseGroup(gruppe._id)"> {{gruppe.name}}</button>
  </div>
</div>
<div id="GruppenEditor">
  <input id="GruppenEditorName" type="text" name="myGroup" placeholder="Gruppe erstellen">
  <button (click)="addGroup()"></button>
</div>
<ng2-completer id="dingdong" [datasource]="GruppenNamen" [minSearchLength]="1" (selected)="selected($event)"></ng2-completer>
<button (click)="requestAccess()">Request Membership</button>



