<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand mr-5" href="#">Pinnwand</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <div class="d-flex flex-row">
            <input class="form-control" id="GruppenEditorName" type="text" name="myGroup"
                   placeholder="Create group">
            <input class="my-auto ml-2" type="checkbox" id="checkPrivate">
            <label class="mx-1 my-auto text-warning" for="checkPrivate"> private </label>
            <button class="btn btn-primary mx-2" (click)="postGroup()">Submit</button>
          </div>
        </li>

        <li class="nav-item">
          <div class="mx-4">
            <div class="dropdown" *ngIf="currentlySelectedGroup">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                Group Members
              </button>
              <div class="dropdown-menu " aria-labelledby="dropdownMenu2" id="GroupMem">
                <div class="card border-0">

                  <div class="card-header">
                    <div class="d-flex flex-row">
                      <ng2-completer id="dingdong2" [datasource]="userNamesForAutocomplete" [minSearchLength]="1"
                                     (selected)="selectedAUser($event)" placeholder="Invite user"></ng2-completer>
                      <button class="btn btn-primary ml-2" (click)="inviteUser()">Invite</button>
                    </div>
                    <button class="btn btn-danger mt-2 col-12" id="LeaveButton" (click)="leaveGroup()">Leave Group
                    </button>

                  </div>
                    <div class="card-body" id="UserBody">
                      <div id="Users">
                        <div *ngFor="let user of usersInCurrentlySelectedGroup">
                          <p> <b>{{user}}</b> </p>
                        </div>
                      </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>

        <li class="nav-item">
          <div class ="dropdown dropleft">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              Settings
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2" id="dropSort">
              <button class="btn btn-outline-primary ml-5" data-toggle="modal" data-target="#changePWModal">Change password</button>
              <button class="btn btn-outline-danger ml-5" (click)="logout()">Logout</button>
            </div>
          </div>

        </li>
      </ul>
    </div>
  </nav>
</header>


<div>
  <button class="btn btn-success mb-4" id="OwnPinButton" (click)="chooseOwnScreen()">Own Pins</button>
  <ng2-completer id="dingdong" [datasource]="groupNamesForAutocomplete" [minSearchLength]="1"
                 (selected)="selectedAGroup($event)" placeholder=" Search public group"></ng2-completer>
  <button class="btn btn-primary mt-1" id="JoinGroupButton" (click)="joinPublicGroup()">Join</button>
  <hr>

  <div class="GruppenListe">
    <div *ngFor="let gruppe of groupsOfTheUser">
      <button class="btn btn-secondary mt-2" id="Gruppenbutton"
              (click)="chooseGroupScreen(gruppe._id, gruppe)"> {{gruppe.name}}</button>
    </div>
  </div>
</div>

<!---Modal for change PW--->
<div class="modal" id="changePWModal">
  <div class="modal-dialog  modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content bg-light">

      <div class="modal-header">
        <h4 class="modal-title">Passwort ändern</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body" style="max-height: 60vh" id="changedPW">
        <input type="password"  placeholder="Neues Passwort" id="newPassword">
      </div>

      <div class="modal-footer d-flex justify-content-between flex-row ">
        <div class="btn-group " role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary" (click)="changePWFct()"> Save Changes </button>
        </div>
      </div>
    </div>
  </div>
</div>




