.headerStyle{
  background-color: var(--SideHeader);
}
.contentStyle{
  background-color: var(--PinContent);
  height: 50%;
}
.loginContainer{
  height: 78%;
}

.headerContainer{
  margin: 15px;
  height:100px;
}

.Username{
  padding-left: 1em;
  padding-top: 1em;
}
.Password{
  padding-left: 1em;
  padding-top: 1em;
}
.E-Mail{
  padding-left: 1em;
  padding-top: 1em;
}

.Action{
  float: right;
  clear: right;
  padding-top: 12em;
  padding-left: 14em;
}
.Register-Button{
  background: linear-gradient(70deg, var(--Footer), var(--PinTitle));
  color: white;
}


body, html{
  margin: 0;
  height: 100%;
  overflow: hidden;
  background: linear-gradient(70deg, var(--Footer), var(--PinTitle));
}


section {
  height: 100%;
  overflow: auto;
  border-bottom: 1px solid;
}

#container {
  height: 100%;
}
