<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pinnwand Projekt</title>
</head>

<body >

<div id="container" fxLayout="column">
  <header class="headerContainer" fxLayoutAlign="start stretch">
    <mat-card class="headerStyle" fxFlex="0 1 calc(100%)">Register Header</mat-card>
  </header>

  <div class="loginContainer" fxLayout.lt-sm="column" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="contentStyle" fxFlex="33" >
      <mat-card-header>
        <mat-card-title> Register </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="registerForm" (ngSubmit)="checkRegisterInput()">
          <table cellspacing="0">
            <tr>
              <td>
                <mat-form-field>
                  <input matInput type="text" class="form-control" formControlName="name">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput type="password" class="form-control" formControlName="password">
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput type="text" class="form-control" formControlName="email">
                </mat-form-field>
              </td>
            </tr>
          </table>
          <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Registrieren</button>
          </mat-card-actions>
        </form>
      </mat-card-content>

    </mat-card>
  </div>


</div>
</body>


</html>
